@charset "UTF-8";
 .flipper {
    width: 100%;
    height: 100px;
    text-align: center;
    color: #fff;
    position: absolute;
    top: 300px;
    right: 20px;

  }

  .container .p1{
    font-size: 20px;
    color: #C1272D;
    width: 100%;
    height: auto;
    background: #000;
  }

  .thumbnail_a{
    margin-bottom: 0px;
  }


.my_container{
  height: auto;
  background:#CE4552;
  padding: 10px;
}



.smtext{
  color: #fff;
}


    .navbar-brand p {
        color: #AF1F24;
    }

    .navbar-brand small {

    color: #AF1F24;
    font-size: 17px;
    margin:20px 0 0 23px;
    letter-spacing: 2px;
    font-size: 14px;
    text-align: center;
    font-family: raleway, sans-serif;
    font-weight: 500;
    position: relative;
    bottom: 1px;
    

    }


/*@media(min-width:1200px){

    .my_container h3{color: #000;}

}*/

/*@media(min-width:992px){
  .my_container h3{
      color: #f0f;
      font-size: 30px;
      font-weight: 500;
      font-family: 微軟正黑體;

    }*/

@media(min-width:768px){

    .my_container h3{
      color: #fff;
      font-size: 50px;
      font-weight: 500;
      font-family: 微軟正黑體;

    }

}
@media(max-width:767px){

    .my_container h3{
      color: #fff;
      font-size: 18px;
      font-weight: 500;
    font-family: 微軟正黑體;}

}