<?xml version="1.0"?>
<configuration>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Net, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
  </system.web>
  <appSettings>
    <!--寄信的標題-->
    <add key="mailTitle" value="禾益資訊網站詢問信件"/>
    <!--寄信人Email-->
    <add key="sendMail" value="service@spdg.com.tw"/>
    <!--收信人Email(多筆用逗號隔開)-->
    <add key="receiveMails" value="service@spdg.com.tw"/>
    <!--請注意，程式執行寄信時，使用的線路是中華電信的線路，才能用msa.hinet.net-->
    <!--寄信smtp server-->
    <add key="smtpServer" value="localhost"/>
    <!--寄信smtp server的Port，預設25-->
    <add key="smtpPort" value="25"/>
    <!--寄信帳密-->
    <!--    <add key="mailAccount" value="service@spdg.com.tw"/>-->
    <!--    <add key="mailPwd" value="54867922"/>-->
    <add key="mailAccount" value=""/>
    <add key="mailPwd" value=""/>
  </appSettings>
</configuration>